{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body class="text-center">
        <div class="container">
            <div class="row">
                <h2>CRUD de Voos</h2>
            <ul class="ds-btn">
                <li>
                    <a class="btn btn-lg " href="% url 'operadorview' %">
                    <i class="glyphicon glyphicon-link pull-left"></i><span>Usuário:<br><small>Operador de voos</small></span></a>
                </li>
                <li>
                     <a class="btn btn-lg btn-success " href="{% url 'crudcreateview' %}">
                 <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Cadastrar Voo<br><small>Tela de cadastro de voos</small></span></a>

                </li>
                <li>
                     <a class="btn btn-lg btn-info " href="{% url 'crudreadview' %}">
                 <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Consultar Voo<br><small>Tela de consulta de voos</small></span></a>

                </li>
                <li>
                     <a class="btn btn-lg btn-warning " href="{% url 'crud_update_list_view' %}">
                 <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Atualizar Voo<br><small>Tela de atualização de voos</small></span></a>

                </li>
                <li>
                     <a class="btn btn-lg btn-danger" href="{% url 'crud_delete_list_view' %}">
                 <i class="glyphicon glyphicon-tasks pull-left"></i><span>Deletar Voo<br><small>Tela de deleção de voos</small></span></a>

                </li>
            </ul>

            </div>
        </div>
    </body>
</html>