{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body class="text-center">
        <div class="container">
            <h2>Sistema de <br> Monitoramento de Voos</h2>
        </div>
        <div class="container">
            <a class="btn btn-lg btn-success " href="http://localhost:8000/accounts/login/">
            <i class="glyphicon glyphicon-dashboard pull-left"></i><span>LOGIN</span></a>
        </div>
    </body>
</html>