{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h2>Painel de Monitoração</h2>
            <ul class="ds-btn">
                <li>
                    <a class="btn btn-lg btn-info" href="{% url 'inicio_monit_view' %}">
                    <i class="glyphicon glyphicon-link pull-left"></i><span>Início</span></a>   
                </li>
            </ul>
            </div>
            {% block content %}

            <h3>Voos</h3>

            <div class="table">
            <table>
                <tr>
                    <th>Voo</th>
                    <th>Companhia Aérea</th>
                    <th>Destino</th>
                    <th>Decolagem</th>
                    <th>Pouso</th>
                    <th>Status</th>
                </tr>
                {% for voo in vooMostrar %}
                    <tr>
                        <td>{{voo}}</td>
                        <td>{{voo.companhiaAerea}}</td>
                        <td>{{voo.destino}}</td>
                        {% if voo.chegadaReal %}
                            <td>{{voo.partidaReal}}</td>
                            <td>{{voo.chegadaReal}}</td>
                        {% else %}
                            {% if voo.partidaReal %}
                                <td>{{voo.partidaReal}}</td>
                                <td><i>{{voo.chegadaPrevista}}</i></td>
                            {% else %}
                                <td><i>{{voo.partidaPrevista}}</i></td>
                                <td><i>{{voo.chegadaPrevista}}</i></td>
                            {% endif %}
                        {% endif %}
                        {% if voo.statusVoo == 'Embarcando' %}
                            <td><b>{{voo.statusVoo}}</b></td>
                        {% else %}
                            <td>{{voo.statusVoo}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            </div>

            {% endblock %}
        </div>
    </body>
</html>